/*
Goldilocks Approach to Responsive Web Design

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
-----------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. IMPORTS
2. RESET
3. ROOT
4. CORE TYPOGRAPHY
5. COLOR SCHEME
6. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
7. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/

/*TODO
- fix author attributation at post end
- add Bigfoot.js
- add social buttons to nav bar
- add search bar to nav bar
- move "Posted In ..." to after date on same line
- organize CSS
- fix pagination (index.hbs)
- move RSS subscription (footer.hbs)
*/



/* 2. COLOR SCHEME
--------------------------------------------*/

/* The Ocean base16 scheme from chriskempson */
.base00 { color: #2b303b; }
.base01 { color: #343d46; }
.base02 { color: #4f5b66; }
.base03 { color: #65737e; }
.base04 { color: #a7adba; }
.base05 { color: #c0c5ce; }
.base06 { color: #dfe1e8; }
.base07 { color: #eff1f5; }
.base08 { color: #bf616a; }
.base09 { color: #d08770; }
.base0A { color: #ebcb8b; }
.base0B { color: #a3be8c; }
.base0C { color: #96b5b4; }
.base0D { color: #8fa1b3; }
.base0E { color: #b48ead; }
.base0F { color: #ab7967; }


/* 3. RESET
--------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
table { /* tables still need "cellspacing="0"" in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}


/* 4. ROOT
--------------------------------------------*/
html {
  overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
  font-size: 100%;
  font-weight: 300;
  -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  background: #EFF1F5;
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video {
  max-width: 100%;
  height: auto;
}
.ie6 img.full, .ie6 object.full,
.ie6 embed, .ie6 video {
  width: 100%;
}


/* 4. CORE TYPOGRAPHY
--------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  color: #343d46;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.618em;
  -webkit-font-smoothing: subpixel-antialiased;
}
article {
  max-width: 40em;
  margin: auto;
  padding: 0em 4em 0em 4em;
}
p, ul, ol, dl, blockquote {
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 1.618em;
  max-width: 40em; /* Optimal width for long-form text */
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  margin-top: 0.809em;
  margin-bottom: 0.809em;
  line-height: 1em;
  clear: both;
  text-transform: uppercase;
  /*font-variant: small-caps;*/
}
/* z-index for sub-menu in nav bar */
h1 { font-size:2.1rem; font-weight: 300; position: relative; z-index: 1;}
h2 { font-size:1.9rem; font-weight: 300; position: relative;}
h3 { font-size:1.7rem; font-weight: 300; position: relative;}
h4 { font-size:1.5rem; font-weight: 300; position: relative;}
h5 { font-size:1.3rem; font-weight: 300; position: relative;}
h6 { font-size:1.1rem; font-weight: 300; position: relative;}
h1:before, h2:before, h3:before,
h4:before, h5:before, h6:before {
  content:"#";
  color: #a7adba;
  position: absolute; /*parent must be relative*/
  left:-40px;
}
/* Headers Special Cases */
h1.post-title,
h1.blog-title {
  margin-top: 0;
  text-align: center;
}
h1.post-title a,
h1.blog-title a {
  color: #343d46;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
h1.post-title:before,
h1.blog-title:before {
  content:"";
}
h1.post-title a:focus,
h1.post-title a:hover,
h1.blog-title a:focus,
h1.blog-title a:hover {
  color: #7cafc2;
  text-decoration: none;
}
h1.blog-title,
h2.blog-description {
  text-align: center;
}
h1.blog-title {
  font-size: 48px;
  line-height: 52px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
}
h2.blog-description {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  margin-bottom: 3em;
  line-height: 1.2em;
}

/* Text Formatting */
b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 80%; }
ul {
  list-style-type: disc;
  margin-left: 3.236em; /*golden ratio doubled*/
}
ol {
  list-style-type: decimal;
  margin-left: 3.236em; /*golden ratio doubled*/
}
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul ul {
  margin-bottom: 0;
  margin-left: 1.618em; /*golden ratio*/
}
li {
  padding-left: 0.5em;
}

.post-meta {
  text-align: center;
}

/* Links */
a, a:visited {
  outline: none;
  color: #bf616a;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
a:hover {
  outline: none;
  text-decoration: underline;
}
a:active, a:focus { outline: none; }

/* Code */
code {
  font-family: Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
  line-height: 1em;
  color: #b48ead;
  background-color:#dfe1e8;
  border-radius: 0.25em;
}
pre {
  font-family: Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: #343d46;
  border-radius: 0.5em;
}
pre code {
  font-family: Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
  line-height: 1em;
  color: #eff1f5;
  background-color: #343d46;
}


/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY */

dt {
  font-weight: 400;
}



#site-head,
nav,
article.preview,
a.archive-link,
.article-nav {
  margin: auto;
  max-width: 600px;
  width: 90%;
}
#site-head img {
  max-width: 100%;
}
article.preview {
  margin-bottom: 2em;
}
article.preview p.readmore {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 200;
}


/* === Header === */
#site-head {
    margin: 2em auto;
    max-width: 45em;
    width: 90%;
    /*padding-bottom: 1em;*/
}

/* The blog"s logo header image */
#blog-title{
  width:85%;
  margin: auto;
  /*padding-bottom: 1em;*/
  text-align: center;
}
#responsive-header-mid{
  display: block;
  margin-top: 25px;
}
#responsive-header-big,
#responsive-header-small {
  display: none;
}

/* Menu Bar */
#menu-bar:before, #menu-bar:after {
    content:"";
    display: table;
}
#menu-bar:after {
    clear: both;
}
#menu-bar {
    height: 2.5em;
    width: 90%;
    min-width: 35em;
    /* Block elements can be center-aligned w/ left and right margins to "auto". */
    margin-left: auto;
    margin-right: auto;
    /* for clearfix */
    clear: both;
    *zoom: 1;
    /* cross-platform curves */
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    background: #4f5b66;
}
/* Bar Sections */
#menu-links {
    /* allow for 3-column centered menu bar */
    float: left;
    width: 40%;
    margin: 0 1.5% 0 1.5%; /* box size now 33% */
    /* set height to match container */
    height: 2.5em;
}
#social-icons {
    /* allow for 3-column centered menu bar */
    float: left;
    width: 20%;
    margin: 0 1.5% 0 1.5%;
    /* set height to match container */
    height: 2.5em;
    text-align: center;
}
#search-field {
    /* allow for 3-column centered menu bar */
    float: left;
    width: 30%;
    /* set margins on right div */
    margin: 0 1.5% 0 1.5%;
    /* set height to match container */
    height: 2.5em;
    /* ensure all nested elements are centered relative to this container */
    text-align: center;
    position: relative; /* anchor for icon */
}
/* Sub-Sections of Menu Bar Items */
#menu-links ul {
    padding-left: 1em;
}
#menu-links li {
    /* change from block-level element and remove list markers */
    display: inline-block;
    text-align: center;
    padding: 0 1.5% 0 1.5%;
}
/* The linked text for the ind. element */
#menu-bar a {
  font-family: Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #EFF1F5;
  text-decoration: none;
  display: inline-block;
  /* to center vertically */
  height: 2em;
  line-height: 2em;
}
/* How linked text responds to mouse over */
#menu-bar .active a, #menu-bar li:hover > a {
  text-decoration: underline;
}

#social-icons a {
  display: inline-block;
  width: 1em;
  padding: 0 1% 0 1%;
}
#social-icons a i {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  color: #000;
}
#social-icons i:hover {
    color: #fff;
}

.search {
    /* to center vertically */
    height: 2em;
    line-height: 2em;
    /*margin: 0.375em 0;*/
    width: 67%;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border: 1px solid black;
}
#search-field input { text-indent: 1.5em;}
i.fa-search {
    position: absolute; /* relative to search bar */
    /* position in middle of search bar */
    top: 29%;
    left: 18%;
    color: #4f5b66;
}
/* SEARCH RESULTS */
#search-results {
    background-color: #a7adba;
    margin: 1em auto;
    width: 80%;
    font-family:"Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
    padding: 0 1em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}
#search-results p {
    display: inline-block;
    color: #343d46;
    /* FONT */
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
    height: 1.5em;
    margin: 0.618em;
    position: relative;
}
#search-results p:before {
    content:"#";
    color: #343d46;
    position: absolute;
    /*parent must be relative*/
    left:-20px;
}
#search-results div {
    border-top: 1px dotted #eff1f5;
}
#search-results div h2 {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    line-height: 1.5em;
    height: 1.5em;
    font-weight: 300;
    font-size: 1.5em;
}
#search-results div h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    line-height: 1.5em;
    height: 1.5em;
    font-weight: 300;
    font-size: 1em;
    color: #343d46;
    text-indent: 1em;
}
#search-results div h2:before,
#search-results div h4:before {
    content:"";
}
#search-results a {
    text-decoration: none;
}



header.article-header,
header.page-header {
  margin-bottom: 3em;
}
/* === Body === */
section.author,
section.share {
  width: 100%;
  text-align: left;
  text-transform: none;
}
.home {
  text-align: center;
  width: 100%;
  font-size: 19px;
  background: rgba(0, 0, 0, 0.04);
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}
section.share {
  margin-top: 1em;
  border-top: 1px solid #ecf0f1;
  padding-top: 1em;
  text-align: right;
  font-weight: 300;
}
section.author h4,
section.author p,
section.share p {
  padding: 0;
  margin: 0;
}
section.author h4 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}
section.author p.attr,
section.share p.info {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}
section.author p.attr {
  margin-bottom: 2px;
}
section.share p.info {
  display: inline-block;
}
section.author p.bio {
  font-size: 16px;
  margin-left: 82px;
  line-height: 1.4em;
}
blockquote {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
  border-left: 0.5em solid rgba(0, 0, 0, 0.05);
  margin-left: 1em;
  padding-left: 1em;
}
blockquote p {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
}
.post-meta {
  color: #a7adba;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.tags {
  font-size: 0.8em;
  margin-bottom: 0.6em;
}
div.authorimage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
  float: left;
}
section.post-content {
  font-size: 1em;
  font-weight: 200;
}
section.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
section.preview.archive h2 {
  text-align: left;
}
section.author {
  overflow: hidden;
}
img.userimage {
  width: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
/* === Footer === */
footer {
  background: rgba(0, 0, 0, 0.05);
  margin: 4em 0 0;
  padding: 2em 0;
  text-align: center;
}
footer section {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-weight: 300;
  font-size: 0.667em;
  margin: 0 auto;
  max-width: 600px;
  text-transform: uppercase;
}
footer.post-footer {
  background: none;
  border-top: 1px solid #ecf0f1;
  margin-top: 1em;
}

/* === Navigation and Pagination === */
a.archive-link {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  display: block;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 3em;
  margin-top: 3em;
  padding: .5em 0;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  position: relative;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #7f8c8d;
  text-align: center;
  /*padding: 0.5em 0;*/
}
.pagination a {
  color: #7cafc2;
}
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
.older-posts {
  right: 0;
}
.page-number {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.newer-posts {
  left: 0;
}
.older-posts:hover,
.newer-posts:hover {
  color: #02090e;
  text-decoration: none;
}
/* === Extras === */
.gist {
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: collapse !important;
}
.gist .gist-file {
  font-family: Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}
.gist .gist-file .gist-meta {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  display: none !important;
  /* Hide GitHub attribution */

}
.gist .gist-file .gist-meta a:visited {
  color: #bf616a !important;
}
.gist .gist-file .gist-data {
  background: #fdfdfd !important;
  border-bottom: none !important;
  /* Hide GitHub attribution */

}
.gist .gist-file .gist-data .line-numbers {
  border-right: none !important;
}
.gist .gist-file .gist-data .line-numbers,
.gist .gist-file .gist-meta {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.gist .gist-file .gist-data .line-numbers,
.gist .gist-file .gist-data .line-pre {
  line-height: 1.2em !important;
}
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-ghost,
.icon-feed,
.icon-twitter,
.icon-google-plus,
.icon-facebook {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.icon-twitter,
.icon-google-plus,
.icon-facebook {
  padding-left: 0.5em;
}
.icon-ghost:before {
  content: "\e000";
}
.icon-feed:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}
.icon-google-plus:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e004";
}
.icon-ghost {
  font-size: 12px;
  position: relative;
  top: -1px;
}

/* === Media Queries === */
@media screen and (min-width: 30em) and (max-width: 63.236em) {
  footer section span.copyright {
    display: block;
  }
  nav li {
    width: auto;
  }
  .older-posts,
  .newer-posts {
    position: static;
  }
  .newer-posts {
    margin-bottom: 10px;
  }
  .older-posts {
    margin-top: 10px;
  }
  .page-number {
    display: block;
  }
}
/*Increase text size on larger screens*/
@media screen and (min-width: 480px) {
  section.post-content {
    font-size: 120%;
  }
}
